@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --primary-color: #0A2463;
    --secondary-color: #3E92CC;
    --accent1-color: #ff5e00a9;
    --accent2-color: #D8315B;
    --accent3-color: #1E1B18;


    --heading-font: 'Rajadhani', sans-serif;
    --paragraph-font: 'Georgia', serif;
}

h1,h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

p {
    color: var(--accent3-color);
    font-family: var(--paragraph-font);
}

nav a {
    text-decoration: none;
}

body {
    max-width: 960px;
}

.hero {
    position: relative;
}



h1 {
    position: absolute;
    top: 0;
    left: 300px;
}
  
article {
    position: absolute;
    top: 250px; 
    left: 250px; 

    background-color: var(--secondary-color);

    width: 500px;
    height: auto;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;

}

article img {
    width: 250px;
    float: right;
    height: auto;

}

h1 {
    /* border: 20px solid rgba(255, 255, 255, 0.212); */
    background-color: rgba(255, 255, 255, 0.281);
    padding: 5%;
    width: 100%;
    left: 0px;
    text-align: center;
    
}