:root {
    --heading-background-color: steelblue;
    --heading-text-color: white;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1rem solid rgb(0 0 0 / 0.2);

    --primary-color: steelblue;
    --secondary-color: yellow;
    --accent1-color: green;
    --accent2-color: indigo;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* probablty apply this tag to */
/*  */

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    border: none;
}

header {
    /* border: 2px solid black; */
    background-color: var(--secondary-color);
    opacity: 0.7;
    color: white;
}

.hero {
    position: relative;
    grid-column: 1/3;

}

.hero article {
    position: absolute;
    bottom: 10px;
    width: 96%;
    /* padding: 16px; */
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 120px;
    opacity: 1;
}

.hero img {
    display: block;
    width: 100%;
    max-width: 840px;
    height: auto;
}

/*  */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

header img {
    grid-column: 1/2;
    margin: 0 auto;
    padding: 10px;

    width: 120px;
    height: auto;
}

nav ul {
    /* background-color: var(--heading-background-color); */
    /* padding: 10px; */

    /* w4 */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;

    grid-column: 2/3;
    grid-row: 1/2;
}

nav li {
    padding: 5px;
    border: 2px solid black;
    background-color: var(--accent1-color);
    opacity: 0.7;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: white;
    font-weight: bold;
}

.company-info {
    text-align: center;
    margin: 0;
}

.company-info p {
    margin: -10px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {

    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
}

h1#h1about {
    position: absolute;
    background-color: var(--accent1-color);
    color: #fff;
    opacity: 0.7;
    max-width: 840px;
}

/* h1#contact {
    background-color: none;
} */

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.history {
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
    align-items: center;

    /* border: 2px solid black; */
}

.history img {
    width: 200px;

}

.history h2 {
    grid-column: 1/4;
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;

}

.employee h2 {
    grid-column: 1/4;
    margin-bottom: 10px;
}

.employee figure {
    position: relative;
    /* width: 100%; */
    text-align: center;

}

.employee img {
    max-width: 100%;

}

.employee figcaption {
    position: absolute;
    bottom: -35px;
    right: 56.5px;
    width: 56.5%;
    padding: 10px;
    /* text-align: center; */
    opacity: 0.7;
    /* background-color: var(--accent1-color); */
    color: black;

}

.adventure {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.adventure h2 {
    grid-column: 1/6;
    margin-bottom: 10px;
}

.adventure figure {
    position: relative;
    width: 100%;

}

.adventure img {
    max-width: 100%;

}

.adventure figcaption {
    position: absolute;
    bottom: 2px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

footer {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-between;

    background-color: var(--secondary-color);
    opacity: 0.7;
    color: black;

}

footer p {
    display: inline;
    display: flex;
    align-items: center;
}

footer a {
    padding: 5px;
}

.socialmedia {

    display: inline;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 20px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    /* border: 20px double rgb(0 0 0 / 0.1); */
    border-radius: 30px;
    background-color: white;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */

}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    /* color: navy; */
    /* font-size: 1.3em; */
}

form label,
form input,
form button,
form select,
form textarea,
form div {
    font-family: 'Courier New', Courier, monospace
}

/* maybe */
label {
    text-align: right;
    padding-right: 1.5em;
}

/*  */
input,
select,
textarea {
    /* padding: 1rem; */
    font-size: 1rem;
    margin: 3px;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
}

input[type="submit"] {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    /* justify-content: end; */
}

.text-label {
    grid-column: 1/2;
    text-align: start;
}

.text-input {
    grid-column: 2/4;
}

.radio-label {
    grid-row: 1/4;
    align-self: center;
}

.radio-input {
    grid-column: 2/4;
    padding: 10px 0;

}

.message-label {
    grid-column: 1/4;
    text-align: start;
}

.message-input {
    grid-column: 1/4;
}

.check-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check-input,
.check-label {
    margin: 0;
}

.submit-input {
    grid-column: 1/4;
}

.map {
    grid-column: 1/2;
}

iframe {
    width: 300px;
}

form {
    grid-column: 2/3;
    width: 400px;
}

.company-info {
    grid-column: 1/3;
}

.employee {
    grid-column: 1/3;
}

/* index.html exclusive */

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* well deal with aesthetics later */
}

.newsletter img {
    width: 280px;
}

#index-button {
    justify-self: center;
}

.call-to-action figure {
    position: relative;
    /* width: 1px; */
    /* text-align: center; */
}

.call-to-action img {
    max-width: 400px;
}

.call-to-action figcaption {
    position: absolute;
    bottom: 2px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.call-to-action a:link,
.call-to-action a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

/* trips.html */

#h1-trips {
    grid-column: 1/4;
}

#contact-us {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    grid-template-columns: repeat(3, 1fr);
}

#contact-us h2 {
    grid-column: 1/4;
}

#contact-us img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border: 4px solid grey;
    letter-spacing: 1px;
    /*  */
}

caption {
    font-weight: bolder;
}

td,
th {
    border: 2px solid grey;
    padding: 5px 10px;
    text-align: center;
    /*  */
}

td {
    color: black;
}

tr:nth-child(even) {
    background-color: lightgreen;

}

thead,
tfoot {
    color: white;
    background-color: black;
    font-weight: bold;
}