
/* week 2 */

/* #ph-paragraph {  ##free creativity section ##
    text-align: left;
    max-width: 840px;
} */

/**/

main {
    max-width: 840px;
} /* this prevents the main section from adjusting when the window
    is resized. learn more about max-width */

aside { /* (outer) margin, border, padding (inner) */
    margin: 1em; /* pushes outward */
    border: 1px solid #333333; /* fills, color */
    opacity: 0.2; /*rgba(0,0,0,0.2) but css validator not support rgba*/
    padding: 1em; /* pushes inwards */
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

main { /* free creativity */
    text-align: center;
    /* free creativity */
    margin: 1em;
    padding: 1em; /* this is to align main with aside in the design */
}

header {/* free creativity */
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

p { padding: 0;}

footer {
    margin-top: 10px;
    border-top: 1px dashed #333;
    text-align: center;
}


/* end week 2 */