.callout {
    max-width: 500px;
    margin: 100px;
    border: 5px solid black;
    padding: 2rem;
    background-color: green;
	color: white;
}

.callout img {
    float: right;
    margin: 1rem;
    border: .25rem solid black;
    padding: 1rem;
    background-color: olive;
    width: 12rem;
    height: auto;
	
}

blockquote {
	margin: 0 0 4rem 0;
}

cite {
    display:block;
    border-top: 2px dotted black;
    padding-top: 1rem;
    text-align: right;
	font-size: x-large;
}