* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

header,
footer {
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px 1px black;
}

section {
    display: block;
    padding: 5px 10px;
    margin: 20px 0;
    border: 10px solid rgb(0 0 0/10%);
    background-color: silver;
    max-width: 600px;

}

section p {
    margin: 10px;
}

ul {
    margin: 10px;
}

h2 {
    border-bottom: 3px solid black;
}

footer {
    font-size: 1.3rem;
}