nav a {
    display: inline;
    margin: 1rem;
    
}

nav {
    text-align: center;
}

.items img{
    width: 10rem;
}

.items {
    display: inline-block;
}

.products {
    background-color: beige;
    padding: 10px 10px;
    margin: 10px 25px;
    text-align: center;
}

.gallery {
    padding: 10px 10px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: beige;
}